# Virtual Environment
.venv/
venv/
ENV/
env/

# Python bytecode
*.pyc
__pycache__/

# Database file (optional, decide if you want to commit kcm_data.db)
# If you DON'T want to commit it, make sure this line (or similar) is present:
# pulsi_politik_backend/kcm_data.db
# *.db
# *.sqlite3